@model List<DataModels.EF.Menu>
<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
            var url =  @item.Link;

            <li><a href="@url" target="@item.Target">@item.Text</a></li>
        }
        <div class="clear"></div>
    </ul>
</div>

